header {
    color: whitesmoke;
    background-color: darkolivegreen;
}

body {
    background-color: antiquewhite;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: inline;
}

